<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="2" parallel="methods" thread-count="2"> 
	<listeners>
		<listener class-name="com.testng.Listeners"></listener>
	</listeners>
  <test  name="Test">
	  <parameter name="Myname" value="Pratheesha"></parameter>
	  <!--<groups>
		  <run>
			  <include name="Apple"></include>
			  <include name="Moto"></include>
			  <exclude name=""></exclude>
		  </run>
	  </groups>-->
    <classes>
      <!--<class name="com.testng.Skip_Testcase"/>
      <class name="com.testng.Testng1"/>
      <class name="com.testng.Testng"/>
      <class name="com.testng.priority"></class>-->
      <!--<class name="com.testng.Group"></class>-->
      <!--<class name="com.testng.Parameterized"></class>-->
      <class name="com.testng.Testng"></class>
    </classes>
  </test> 
</suite> 
